table_set_default send_frame _drop
table_set_default forward _drop
table_set_default ipv4_lpm _drop
table_set_default opcode _drop
table_add send_frame rewrite_mac 1 => 00:aa:bb:00:00:00
table_add send_frame rewrite_mac 2 => 00:aa:bb:00:00:01
table_add forward set_dmac 10.0.0.10 => 00:04:00:00:00:00
table_add forward set_dmac 10.0.1.10 => 00:04:00:00:00:01
table_add ipv4_lpm set_nhop 10.0.0.10/32 => 10.0.0.10 1
table_add ipv4_lpm set_nhop 10.0.1.10/32 => 10.0.1.10 2
table_add opcode add 0 =>
table_add opcode sub 1 =>
table_add opcode mul 2 =>
table_add opcode lshft 4 =>
table_add opcode rshft 5 =>
table_add opcode op_and 7 =>
table_add opcode op_or 8 =>
table_add opcode op_xor 9 =>
table_add opcode addi 10 =>
table_add opcode subi 11 =>
table_add opcode muli 12 => 
table_add opcode write 15 =>
table_add opcode readm 16 =>
table_add opcode writem 17 =>
table_add opcode beq 18 =>
table_add opcode bneq 19 =>
table_add opcode bgt 20 =>
table_add opcode bgeq 21 =>
table_add opcode jump 22 =>
table_add opcode noop 31 =>
